.login {
    height: 100vh;
    display: flex;
    position: relative;

    & form {
        width: 50%;
        margin: auto;
        height: fit-content;
        padding: 30px 80px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 60px;

        & .title {
            text-transform: uppercase;
            text-align: center;
        }

        & div {
            width: 100%;
            margin-top: 30px;

            & input {
                width: 100%;
                padding: 8px 20px;
                border-radius: 20px;
                border: 1px solid #d3d3d3; /* Add border */

                &:focus {
                    border-color: #81c408;
                    box-shadow: 0 0 5px #81c408;
                    outline: none; /* Bỏ viền outline mặc định */
                }
            }
            
        }

        & .button {
            width: fit-content;
            margin: auto;
            margin-top: 30px;

            & button {
                width: fit-content;
                padding: 10px 20px;
                border: none;
                border-radius: 20px;
                background-color: #81c408;
                color: white;
                font-weight: bolder;

                &:hover {
                    box-shadow: 1px 1px 5px rgba(64, 61, 61, 0.714);
                }
            }
        }

        & .or {
            position: relative;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-top: 25px;

            & hr {
                width: 100%;
            }

            & div {
                margin: 0;
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;

                & p {
                    background-color: white;
                    margin: 0;
                    width: fit-content;
                    padding: 10px;
                }
            }
        }

        & .register {
            text-align: center; /* Căn giữa nội dung */
            width: 100%;
            margin-top: 30px;

            & a {
                margin-left: 10px;
                color: #81c408;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    background-color: #81c408;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 15px;
                }
            }
        }
    }
}
