.login{
    height: 100vh;
    display: flex;
    position: relative;
    & form{
        width: 700px;
        margin: auto;
        padding: 50px 80px;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
        border-radius: 5px;
        & .title{
            text-transform: uppercase;
            margin-top: 50px;
            text-align: center;
        }
        & div{
            width: 100%;
            margin-top: 50px;
            & input{
                width: 100%;
                padding: 8px 20px;
                border-radius: 5px;
                border: 1px solid #d3d3d3; /* Add border */
            }
        }
        & .button{
            width: fit-content;
            margin: auto;
            margin-top: 40px;
            & button{
                width: fit-content;
                padding: 5px 12px;
                border: none;
                border-radius: 5px;
                background-color: #007bff;
                color: white;
            }
        }
        & .or{
            position: relative;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-top: 25px;
            & hr{
                width: 100%;
            }
            & div{
                margin: 0;
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                
                & p{
                    margin: 0;
                    width: fit-content;
                    padding: 10px;
                    background-color: white;
                }
            }
            
        }
        & .register{
            width: 100%;
            position: relative;
            margin-left: 100%;
            transform: translateX(-50%);
            margin-top: 30px;
            & a{
                margin-left: 10px;
            }
        }
    }
}